<!doctype html>
<html>
  <head>
    <title>{{ site_name }}</title>
    <style>
    body {
      font-family: monospace;
    }
    fieldset {
      border: 0;
      margin: 0;
      padding: 0;
    }
    fieldset label, textarea, input {
      display: block;
      padding: 5px;
    }
    fieldset textarea {
      max-width: 100%;
      width: 600px;
      height: 300px;
      font-family: monospace;
      font-size: 12px;
    }
    </style>
  </head>
  <body>
    <h1>{{ site_name }}</h1>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    <form action="/update" method="post">
      <fieldset>
        <label for="signed-text">Paste a block of PGP-signed text</label>
        <textarea name="signed-text" id="signed-text"></textarea>
        <input type="submit" value="Save">
      </fieldset>
    </form>
  </body>
</html>
